$text-white-color: #FFFFFF;
$text-red-color: #F3102C;
$text-blue-color:#2EABE3;
$text-gray-color:#F2F2F2;
$text-pink-color:#E8476B;
$page-bg-color-gray:#F5F5F9;
$font-color-gray:#878787;
$range-border-color:#f6d8de;
$bank-card-bg-color:#4A90E2;
$range-progress-color:#e4496a;
$form-bottom-border-color:#C8C7CC;

// 主题色
$theme-bg-color:#F45051;




