* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

body,
html {
    list-style: none;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    -webkit-font-smoothing:antialiased;
}
img{ pointer-events: none; }

div.mint-swipe-indicator {
    background: rgba(255,255,255,0.80);
    border-radius:4px;
    width:px2rem(15);
    height:px2rem(4);
    opacity: 1;
}
.mint-swipe-indicator.is-active{
    width:25px;
    border-radius:4px;
}

#app {
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
[v-cloak] {
  display: none;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

@each $i in 10,11,12,13,14,15,16,18,20,22,24,28,32,36 {
    $num: $i * 1px;
    .font-size-#{$i} {
        font-size: $num !important;
    }
}

@each $i in 1,2,3,4,5,6,7,8,9,10 {
    .scale-#{$i} {
        transform: scale($i/10);
    }
}

@each $i in 20,22,24,28,30,32,36 {
    $num: $i * 1px;
    .line-height-#{$i} {
        line-height: $num !important;
    }
}

@each $i in 0,1,2,4,5,6,8,10,12,16,20,24,28,30,32,36,40,44,48,50,56,64,72,80,96,100,120 {
    $num: $i * 1px;
    .mg-all-#{$i} {
        margin: $num !important;
    }
    .mgt-#{$i} {
        margin-top: $num !important;
    }
    .mgr-#{$i} {
        margin-right: $num !important;
    }
    .mgb-#{$i} {
        margin-bottom: $num !important;
    }
    .mgl-#{$i} {
        margin-left: $num !important;
    }
    .pd-all-#{$i} {
        padding: $num !important;
    }
    .pdt-#{$i} {
        padding-top: $num !important;
    }
    .pdr-#{$i} {
        padding-right: $num !important;
    }
    .pdb-#{$i} {
        padding-bottom: $num !important;
    }
    .pdl-#{$i} {
        padding-left: $num !important;
    }
    .radius-#{$i} {
        border-radius: $num !important;
    }
}

.button-wrap  {
    width: 90%;
    margin: 0 auto;
    button{
        border: 0;
        outline: none;
        font-size: 16px;
        color: #fff;
        border-radius: 5px;       
    }
}

.move-enter-avtive,
.move-leave-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.move-enter,
.move-leave-active {
    -webkit-transform: translate3d(90%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

// flex布局
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item{
    flex:1;
    text-align: center;
}

// flex垂直排位
.vertical {
    flex-direction: column;
}

// flex水平排位
.row {
    flex-direction: row;
}
// 定义项目的放大比例
.grow{
    flex-grow : 1;
}
// 元素左对齐
.text-left{
    justify-content: flex-start;
}
// 元素顶对齐
.all-top{
    align-items: flex-start;
} 
.page-animate {
    will-change: transform;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1200px; 
    -moz-perspective: 1200px;
    perspective: 1200px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: transform .6s ease;
    transition: transform .6s ease;
    background: $text-gray-color;
    overflow: hidden;
    position: fixed;
    -webkit-box-shadow: 0 2px 15px #888888;
    box-shadow: 0 2px 15px #888888;
    height: 100%;
    width: 100%;
    z-index: 9;
    left: 0;
    top: 0;
}

.wrapper {
    overflow: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}


// vue-better-scroll 加载更多组件的样式
.pulldown-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
}

.list-item {
    line-height: 40px;
    font-size: 18px;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.gray-font-color{
    color:$font-color-gray;
}

// 一行文本溢出显示...
.on-line{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 22px;
    line-height: 22px;
}
// 消息列表样式 (参考历史消息页面)
.msg-items-wrap{
    li{
        width: 100%;
        background: #fff;
        padding: 8px 0;
        position: relative;
        &:after{
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: #e5e5e5;
            bottom: 0;
            left: 0;
        }
    }
    .msg-item{
        width: 80%;
        padding-left: 10px;
        align-items: flex-start;
    }
    .img-wrap{
        width: 40px;
        position: relative;
    }
    .msg-loop{
        position: absolute;
        top:-2px;
        right: -2px;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: red;
    }
}

// 已查看全部消息的样式(参考历史消息页面)
.all-msg-readed{
    text-align: center;
    line-height: 40px;
    position: relative;
    font-size: 12px;

    &:after{
        position: absolute;
        content: "";
        width: 60%;
        height: 1px;
        background: #e5e5e5;
        top:20px;
        left: 20%;
        z-index: 2;
    }
    .text{
        position: absolute;
        width: 100px;
        left:50%;
        margin-left: -50px;
        z-index: 3;
        background: #F2F2F2;
    }
}
// 多行文本显示...
.text-deal{
    @include text(2);  
}
.text-deal1{
    @include text(1);  
}
.price{
    padding: 5px 0;
    font-size: 14px;
    font-family:PingFang Medium;
    color:#D0021B;
    font-weight:bold;
}
// 镂空按钮
.link-btn-red{
    padding: 3px 5px;
    border:1px solid red;
    color:red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 8px;
    border-radius: 4px;
}

.link-btn-gray{
    padding: 3px 5px;
    border:1px solid #D9D9D9;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 8px;
    border-radius: 4px;
}

// 普遍流卡片
.goods-item{ 
    width: 48%;
    background: #fff;
    margin-left: 1%;
    padding: 0 10px;
    margin-top: 5px;
    .min-he-100{
        height: px2rem(180);
        border:px2rem(1) solid #F1F2F4;
        margin-bottom:4px;
        width: 100%;
        position: relative;
        overflow: hidden;
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            z-index: 2;                
        }
    }
    .label-item-wrap{
        height:px2rem(20);
        .label-item{
            color:#fff;
            display : block;
            background:#C8B096;
            text-align : center;
            width : px2rem(50);
            font-size:px2rem(10);
            padding:4px 0 2px;
        }
    }
}

.mint-header{
    background-color:#fff;
    color:#000;
    border-bottom: px2rem(1) solid #F2F2F2;
}

.mint-tabbar > .mint-tab-item.is-selected{
    color: $theme-bg-color;
    background:none;
}

.mint-button--primary{
    background-color:$theme-bg-color;
}
.mint-navbar .mint-tab-item.is-selected{
    color: $theme-bg-color;
}

.theme-font-color{
    color:$theme-bg-color;
}
.theme-bg-color{
    background-color:$theme-bg-color;
}

.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 0px;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        left: 50%;
        bottom: 0;
        width: 50%;
        margin-left: -25%;
        height: 3px;
        background-color: $theme-bg-color;
        z-index: 9;
    }
}
// 订单列表公共样式
.card{
    .card-title{
        padding:10px;
        margin-bottom: 5px;
        font-size: 12px;
        position: relative;
        &:after {
            position: absolute;
            background: #D9D9D9;
            content: "";
            height: 1px;
            width: 100%;
            bottom: 0;
            right:0;
            z-index: 2;
            transform:scaleY(0.5); 
        }
    }
    .wid-40{
        width: 40px;
    }
    .wid-60{
        width: 60px;
    }
    .fr{
        float: right;
    }
    background: #fff;
    .right-content{
        .wrap{
            padding: 2px 8px;
        }
        .stages{
            font-size: 12px;
            padding: 4px 0;
            color:#878787;
        }
    }
      
    .card-footer{
        padding: 12px 10px 10px;
    } 
    .gray-bg{
        background-color: #FAFAFA;
    }
}
.mint-cell-wrapper{
    font-size: 14px;
    padding:0;
}
.mint-header-title {
    line-height: 22px;
}

.gray-font{
    color:#888;
}
// 固定在底部的按钮
.fixed-btm-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0;
    width:100%;
    background:#fff;
}

// 订单详情公共样式
.order-common-ui{
    .order-state{
        height: 100px;
        background: $theme-bg-color;
        color:$text-white-color;
    }
    .address-label{
        width: 80px;
        text-indent: 10px;
    }
    .footer{
        position: fixed;
        height: 40px;
        line-height: 40px;
        background-color: $text-white-color;
        width: 100%;
        bottom: 0;
        left: 0;
        overflow: hidden;
        text-align: right;
        padding-right: 1em;
        color:gray
    }
    .img-wrap{
        width: 90px;
        img{
            width: 100%;
        }
    }
    .white-bg{
        background: $text-white-color;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 22px;
    }
    .fr{
        float: right;
    }
    .item{
        padding: 8px 10px;
        background: $text-white-color;
    }
    .order-wrap{
        border-top: 1px solid $text-gray-color;
        padding: 10px 0;
        background: $text-white-color;
    }
    .full-w{
        width: 100%;
    }
    .more-icon{
        background: url("/thz/static/href.png") scroll 98% 50% no-repeat;
        background-size: 20px;
        background-color: #fff;
    }
}
.item-list {
    background: #fff;
}

.is-link {
    background: url("/thz/static/href.png") scroll 98% 50% no-repeat;
    background-size: 20px;
    margin-left: 10px;
}

.li-item {
    padding: 10px 0;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: #ccc;
        transform: scaleY(0.1);
    }
}

//遮罩层
.mask{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: #000;
    z-index: 999;
    opacity: 0.5;
}
.bk-input-wrap{
    width:100%;
    position:relative;
    background-color: #ffffff;
    padding: 5px 0;
    &:after{
        position: absolute;
        background: #D9D9D9;
        content: "";
        height: 1px;
        width: 100%;
        bottom: 0;
        right:0;
        z-index: 2;
        transform:scaleY(0.5); 
    }
        
    input{
        padding: 10px;
        width: 100%;
        border:none;
        -webkit-appearance: none;
        outline: 0;
    }
    .icon-phone{
        background: url("/thz/static/phone.png") scroll 2% 50% no-repeat;
        background-size: 13px;
        padding-left: 30px;
    }
    .icon-password{
        background: url("/thz/static/password.png") scroll 2% 46% no-repeat;
        background-size: 15px;
        padding-left: 30px;
    }
    .icon-close{
        position: absolute;
        right: 0;
        top:-2px;
        z-index: 10;
        transform: scale(0.5);
        z-index: 8;
    }
    .icon-view{
        position: absolute;
        right: 20px;
        top:-2px;
        z-index: 10;
        transform: scale(0.5);
        z-index: 8;
    }
    .icon-preview{
        position: absolute;
        right: 20px;
        top:-2px;
        z-index: 10;
        transform: scale(0.5);
        z-index: 8;
    }
    
    .label{
        min-width:50px;
        text-indent: 10px;
        letter-spacing: 1px;
    }
    .get-code{
        position: absolute;
        right:0;
        top:8px;
        width: 100px;
        border-left: 1px solid #ccc;
        text-align: center;
        padding: 2px 10px;
        font-size: 12px;
        color:#6DA6E1;
        z-index: 8;
    }
    .icon-code{
        background: url("/thz/static/code.png") scroll 2% 45% no-repeat;
        background-size: 14px;
        padding-left: 30px;
    }
} 


// 加载层样式
.loading-container {
    position: relative;
    min-height: 70px;
    -webkit-transition: height 0.6s ease-in-out;
    -o-transition: height 0.6s ease-in-out;
    transition: height 0.6s ease-in-out;
}

.loading {
    position: absolute;
    background: #E9E9E8;
    font: normal 12px/22px "Microsoft Yahei", "微软雅黑", "宋体";
    display: none;
    z-index: 1600;
    background: rgba(233, 233, 232, 0);
}

.loading.active {
    display: block;
}

.loading.loading-mask {
    background: rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}

.loading-full {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.loading-container>.loading {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.loading-body {
    width: 100%;
    height: 100%;
    position: relative;
}

.loading-bar {
    width: 200px;
    min-height: 22px;
    text-align: center;
    background: #000;
    opacity: 0.7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    border-radius: 7px;
    padding: 17px 15px;
    font-size: 14px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -30px;
    word-break: break-all;
    display: flex;
}

@media (max-width: 300px) {
    .loading-bar {
        width: 62px;
        height: 56px;
        margin-left: -30px !important;
        margin-top: -30px !important;
        padding: 0;
        line-height: 56px;
    }
    .loading-bar>.loading-text {
        display: none;
    }
}

.loading-bar-sm {
    width: 62px;
    height: 56px;
    margin-left: -30px !important;
    margin-top: -30px !important;
    padding: 0;
    line-height: 56px;
}

.loading-bar-sm>.loading-text {
    display: none;
}

.loading-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: flex;
}

.loading-text {
    flex-grow : 1;
    display: flex;
    margin-left: 10px;
    margin-top: 4px;
}
#loadingChange {
    -webkit-animation: mymove 2s infinite linear;
    animation: mymove 2s infinite linear;
}

@-webkit-keyframes mymove {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@keyframes mymove{
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}
.loop{
    -webkit-animation:mymove 2s infinite linear;
    -moz-animation:mymove 2s infinite linear;
    -o-animation:mymove 2s infinite linear;
    animation:mymove 2s infinite linear;
}
.no-data-msg{
    position:absolute;top:44px;width:100%;bottom:0;overflow:hidden;z-index: 9;
}
.ds-table{
    height:100%;width:100%;display:table;
}
.ds-tell{
    vertical-align:middle;display:table-cell;width:100%;text-align:center;color:gray;
} 

image[lazy=loading] {
    width: 40px;
    height: 300px;
    margin: auto;
}


